<header class="main-header container-fluid">
  <div class="logo">
    <img src="./assets/images/logo.png" alt="logotipo" class="logo" />
  </div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <ul class="d-flex p-3 m-3 text-alain">
      <li class="nav-item">
        <a class="nav-link fw-bold" routerLink="">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" routerLink="clientes">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" routerLink="servicio">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" routerLink="acercade">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold" routerLink="contacto">Contacto</a>
      </li>
    </ul>
  </nav>

  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Buscar..." />
  </form>
</header>
