@if(usuarioExiste){
<h4>El usuario Existe</h4>
}@else { El usuario <b>NO EXISTE!</b>
}

<h2>Iterador de los users</h2>

@for (user of users; track user.id) {
<p>{{ user.name }}</p>
}

<h1 class="title">Tabla de Personas</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Género</th>
      <th>Dirección</th>
      <th>Correo Electrónico</th>
    </tr>
  </thead>
  <tbody>
    @for (persona of personas; track persona){
    <tr>
      <td>{{ persona.nombre }}</td>
      <td>{{ persona.edad }}</td>
      <td>{{ persona.genero }}</td>
      <td>{{ persona.direccion }}</td>
      <td>{{ persona.correoElectronico }}</td>
    </tr>
    }
  </tbody>
</table>
