<div id="inicio">
  <h1>Mi primera página</h1>
</div>

<button type="button" class="btn bg-info-subtle">Mi botón</button>

<p class="nombre">Mi nombre es {{ nombre }}</p>

<span class="animate__animated animate__bounce">Sumatoria {{ 5 * 3 }} </span>

<span>Texto de ejemplo</span>

<div>
  <h4>Esto es el Div de mi página</h4>
</div>

<button><a routerLink="servicio">ir al servicio</a></button>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra
  viverra iaculis. Integer posuere ex massa, non volutpat nisl tristique non. Ut
  tempor mi fermentum nulla vulputate finibus. Nunc luctus eros ut dui
  tincidunt, eu posuere tortor ornare. Quisque accumsan elementum velit quis
  tempus. Sed suscipit risus nibh, a suscipit felis sollicitudin ac. Nullam
  varius urna ut lobortis hendrerit. Maecenas imperdiet metus leo, eget laoreet
  nisl pretium sed. Maecenas iaculis ipsum in ante tincidunt, maximus ornare dui
  blandit. Ut nibh diam, porta vitae ipsum eget, convallis malesuada dolor.
  Donec eleifend libero at convallis rutrum. Pellentesque magna ipsum, bibendum
  et tempus vitae, porttitor nec lectus. Etiam tempus justo non lacus bibendum
  pharetra. Ut malesuada ut sapien ac mattis. Morbi eu purus vel sem scelerisque
  condimentum elementum et elit. Integer nec pellentesque risus. Duis
  consectetur, augue quis ullamcorper fringilla, dolor ante suscipit odio, vitae
  sodales mi erat eget magna. Vivamus risus mi, tincidunt et mauris nec,
  lobortis volutpat neque. Ut a leo auctor, cursus elit in, dignissim elit.
  Maecenas pharetra eros eu ullamcorper tristique. Ut nec augue imperdiet,
  fringilla magna nec, consequat ipsum. Duis sodales diam orci, a rutrum massa
  commodo vitae. Phasellus pharetra quis nulla a maximus. Proin eu iaculis
  sapien. Pellentesque orci ex, aliquam non viverra sit amet, hendrerit a
  tortor. Curabitur quis ullamcorper tortor, eget rhoncus turpis. Etiam
  pellentesque at elit congue posuere. Vivamus volutpat in mi sed facilisis.
  Integer in lacus neque. Fusce pharetra mauris lacus, rutrum hendrerit lectus
  viverra eu. Nullam tempus ipsum eget lectus pharetra pharetra. Sed egestas
  condimentum odio eget gravida. Integer tincidunt lorem non mollis volutpat.
  Aenean velit elit, feugiat eget sapien eu, elementum semper neque. Sed a justo
  congue, efficitur ipsum in, venenatis quam. Cras mi nisi, egestas et
  vestibulum vitae, suscipit eget turpis. Nulla arcu diam, vehicula quis mi sit
  amet, bibendum cursus nibh. Praesent pretium velit quis libero cursus posuere.
  Etiam quis luctus ex. Integer ut tincidunt ligula. Duis dapibus tortor in
  ullamcorper bibendum. Nunc tristique lorem nibh, in eleifend nunc aliquam a.
  Duis molestie orci ornare velit mattis, ut varius est aliquam. Mauris eu sem
  aliquet, ornare massa et, dignissim urna. Mauris facilisis mollis ornare.
  Etiam malesuada nulla nec erat lobortis, eget mollis quam eleifend. Orci
  varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
  mus. Quisque blandit metus quis ligula lobortis, nec feugiat elit euismod.
  Curabitur malesuada ultricies magna at tincidunt. Praesent lectus quam,
  ultricies dapibus tellus in, facilisis dignissim nisl. Etiam id posuere quam,
  ut convallis sapien. Suspendisse pellentesque magna at elit laoreet, a
  vestibulum leo ullamcorper. Praesent aliquam sapien justo, sit amet commodo
  lorem venenatis id. Aliquam dui lacus, placerat et accumsan tincidunt,
  imperdiet eget ante. Nullam ut dui eu lorem pharetra faucibus at a nisi. Sed
  vel leo quis nunc cursus mollis ut vitae ligula. Curabitur condimentum sapien
  dui, vitae tempus nunc vestibulum in. Quisque sodales mattis ligula et
  ullamcorper. Suspendisse rutrum nisi ut ante consequat, id elementum eros
  fringilla. Maecenas vel eros ut ante gravida molestie sit amet vitae nulla.
  Morbi nec mauris vitae massa cursus cursus vel in tortor. Curabitur tristique
  consequat quam, non cursus dolor placerat eu. Sed maximus accumsan porta.
  Integer rhoncus ultrices ornare. Ut ornare nunc eu nunc facilisis dapibus.
  Nulla quis aliquet neque. Donec ac tristique nunc. Phasellus vitae congue
  ligula, pellentesque ullamcorper velit. Phasellus vitae egestas dui. Etiam eu
  lorem quis dolor hendrerit venenatis sed at ex. Vestibulum eleifend tincidunt
  mi, vitae eleifend est ultrices non. Ut posuere orci euismod nisi pharetra, at
  bibendum felis tempor. Aliquam erat volutpat. Phasellus id augue sem. Proin id
  nibh dictum, placerat tellus in, efficitur dolor. Integer euismod vel elit
  vitae posuere. Sed mattis enim eu risus tempor cursus. Morbi turpis diam,
  pulvinar eget consectetur non, laoreet sed nisl. Curabitur id lacus eleifend,
  sodales felis a, aliquam orci. Proin accumsan elementum enim sed varius. Nulla
  id congue dolor. Cras vehicula, ex ac commodo euismod, eros leo finibus
  sapien, vitae tristique sem ex sed ligula. Suspendisse potenti. Duis tristique
  purus eu consectetur mattis. Duis finibus eleifend aliquam. Integer efficitur
  porta nibh, eu suscipit elit volutpat viverra. Quisque vulputate sit amet
  lectus eget hendrerit. Maecenas id tortor augue. Fusce non ultricies felis,
  vel lobortis ex. Duis gravida maximus turpis, ut pellentesque lacus euismod a.
  Phasellus dignissim vel ex et finibus. Sed turpis ex, consectetur id auctor
  et, efficitur dictum dui. Aliquam dictum tellus ut odio convallis, quis
  scelerisque nulla dapibus. Nam posuere mauris a quam ultrices ultricies. Donec
  nec porta turpis, sed tristique mauris. In tellus ante, accumsan mattis neque
  sed, blandit maximus arcu. Donec luctus felis a magna imperdiet sollicitudin.
  Fusce facilisis, ex id tempor efficitur, erat justo euismod felis, nec
  malesuada quam ex eget mauris. Ut justo ligula, posuere a lobortis nec,
  ultricies eget arcu. Vivamus cursus vel nunc elementum aliquam. Mauris purus
  orci, cursus dictum scelerisque eget, convallis in leo. Sed consequat sem ac
  porttitor condimentum. Integer tempor sit amet sem quis scelerisque. Sed
  mattis elementum lorem eu pharetra. Sed vel mi at sapien ultrices imperdiet.
  Etiam fringilla eget leo eget pretium. Morbi auctor ante ultricies tempus
  tristique. Ut ut neque ligula. Donec placerat lacus nec augue tincidunt, id
  commodo nisl convallis. Donec rutrum sem et libero aliquam, vel hendrerit elit
  feugiat. Nunc quis fermentum quam. Duis et tristique est, eget placerat
  ligula. Nam tempor vel mauris sed pulvinar. Fusce lobortis ante laoreet
  bibendum eleifend. Aliquam erat volutpat. Phasellus quis dui nec felis
  malesuada sollicitudin tincidunt et arcu. Phasellus lectus mauris,
  pellentesque vitae ante nec, dictum eleifend dolor. Cras efficitur laoreet
  tempus. Aliquam porta interdum diam, eget sodales ligula volutpat in. Mauris
  nec dui ipsum. Donec et diam at purus luctus molestie. Etiam laoreet nisi quis
  fringilla fermentum. Pellentesque fermentum quis nibh et facilisis. Mauris
  consequat, sapien ut aliquet feugiat, ex enim venenatis est, sed vehicula leo
  dui sit amet neque. Suspendisse ultrices consectetur viverra. Praesent viverra
  lorem nec aliquet suscipit. Fusce libero justo, interdum in consequat eu,
  consequat in sapien. Morbi pulvinar risus ut enim vulputate ullamcorper eu id
  libero.
</p>

<button><a href="#inicio">Subir</a></button>

<button (click)="mostrarModal()">Mostrar Modal</button>

<app-persona></app-persona>
