<h2 class="title">{{ titulo }}</h2>
<span>{{ edad }}</span>

@if (ocultar) {
<p class="parrafo">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit velit
  sit amet purus egestas, non ornare metus dignissim. Quisque sagittis neque sed
  risus pharetra, non aliquam ipsum rhoncus. Nulla quis fermentum metus. Etiam
  in posuere eros, nec fringilla tortor. Phasellus vel cursus lacus. In eu
</p>
}@else {
<h4>No muestra el parrafo</h4>
}

<hr />

<app-tabla
  [usuarios]="users"
  [tituloTabla]="'Esta es la tabla componenete padre'"
></app-tabla>

<h3>Este es el contador</h3>

<app-contador (incrementarValor)="recibirContador($event)"></app-contador>

<!-- Este es el valor = {{ contador }} -->
